<div ng-controller="HorariosController">
	<h5 style="text-align: center">{{getTitulo()}}</h5>
	<ul class="collection">
		<li ng-repeat="hr in horarios" ng-class="{'collection-item': true, 'active': hr.active}">
			<span class="title">
				<b>{{hr.hora.toHour()}}</b>
				{{hr.localidad.text}}
				<i ng-show="isPrimeroQuePasa()">({{hr.tipo.text}})</i>
				<b class="hora-sep">&gt;</b>
				<b>{{hr.destino.hora.toHour()}}</b>
				{{hr.destino.localidad.text}}
			</span>
			<br />
			<span ng-repeat="rr in hr.recorrido">
				&gt;
				<a href="javascript:void(0)" ng-click="showRecorridoInfo(rr)">
					<i>{{rr.localidad}}</i>
				</a>
			</span>
		</li>
	</ul>
</div>