<!DOCTYPE html>
<html ng-app="akoko">
	<head>
		<meta content="favicon.png" itemprop="image"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
		<meta name="theme-color" content="#FFFFFF">
		<title>A-KoKo: Horarios</title>
		<script type="text/javascript">
			window.onerror = function () {
				console.log('Error!', arguments);
			};
		</script>
		<!-- CSS  -->
		<link href="css/materialize.css" type="text/css" rel="stylesheet">
		<link href="css/style.css" type="text/css" rel="stylesheet" >
		<link href="css/font-awesome.min.css" type="text/css" rel="stylesheet" >
		<!-- Scripts -->
		<script src="js/rgbcolor.js"></script>
		<script src="js/canvg.js"
		<script src="js/modernizr.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/angular-route.js"></script>

		<!-- DroidScript -->
		<script src='file:///android_asset/app.js'></script>
		<script src="droidscript.js"></script>

		<!-- APP -->
		<script src="cfg.js"></script>
		<script src="utils.js"></script>

		<script src="db.js"></script>
		<script src="db.dias.js"></script>
		<script src="db.localidades.js"></script>
		<script src="db.tipos.js"></script>
		<script src="db.horarios.js"></script>
	</head>
	<body class="scrollspy" id="MainController" ng-controller="MainController">
		<!--Navigation-->
		<div class="navbar-fixed">
			<nav class="default_color" role="navigation">
				<div class="container">
					<div class="nav-wrapper">
						<a id="logo-container" href="javascript:void(0)" class="brand-logo">A-KoKo</a>
						<a id="main-menu" href="#/" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
						<!-- Menu Desktop -->
						<ul class="right hide-on-med-and-down">
							<li
								ng-repeat="menu in menuOptions"
								ng-click="setPage(menu.key)"
								ng-class="{active: $location.path() === '/'+menu.key}"
								ng-show="isPageVisible(menu.key)">
								<a href="#/{{menu.key}}">
									<i class="{{menu.icon}} left"></i>
									{{menu.text}}
								</a>
							</li>
						</ul>
						<!-- Menu Mobile -->
						<ul id="nav-mobile" class="right side-nav">
							<li
								ng-repeat="menu in menuOptions"
								ng-click="setPage(menu.key)"
								ng-class="{active: $location.path() === '/'+menu.key}"
								ng-show="isPageVisible(menu.key)">
								<a href="#/{{menu.key}}" id="menu-item-{{menu.key}}">
									<i class="{{menu.icon}} left"></i>
									{{menu.text}}
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>

		<div class="section scrollspy" ng-view></div>

		<!-- Scripts -->
		<script src="js/jquery.min.js"></script>
		<script src="js/materialize.js"></script>
		<script src="app.js"></script>
		<!-- Analytics -->
	</body>
</html>